@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}

/**
** article hacks 
**/

/**
** this targets headers in the number sections and aligns them properly with the number
** also to remove the margin on top so it aligns
**/

.remove-header-margin h1:first-child,
.remove-header-margin h2:first-child,
.remove-header-margin h3:first-child,
.remove-header-margin h4:first-child,
.remove-header-margin h5:first-child,
.remove-header-margin h6:first-child {
  margin-top: 0;
  line-height: 1.2;
}
